<%= form_for(@turma) do |form| %>
  <% if turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% @turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="mx-3 pt-2">
  <div class="field">
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </div>

  <div class="field pt-2">
    <%= form.label :inicio %><br>
    <%= form.datetime_select :inicio %>
  </div>

  <div class="field pt-2">
    <%= form.label :fim %><br>
    <%= form.datetime_select :fim %>    
  </div>

  <div class="field pt-2">
    <%= form.label :horas %><br>
    <%= form.text_field :horas %>
  </div>

  <div class="field pt-3">
    <%= form.file_field :image %><br>

  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
