<div class="container">
    
    
<div class="row">
<div class="col-4">
    <div class="card" style="width: 15rem;">
        <%= image_tag current_user.gravatar_url, :class => "gravatar", class:"card-img-top rounded", style:"width: 13rem; margin:1rem;" %> 
    <div class="card-body">
        <h5 class="card-title"><%= current_user.username%></h5>
        <p class="card-text"><%= current_user.email%></p>
        <a href="#" class="btn btn-primary">Ver Perfil</a>
    </div>
    </div>  
</div>  

<div class="col-8">
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">    
    <center> <%= link_to 'Novo Tweet', new_tweet_path %></center>
    <% @tweets.order(id: :desc).each do |tweet| %>
        
    <%= link_to tweet, class:"list-group-item list-group-item-action" do %>
        <h5 class="card-title"><%= tweet.user.email %></h5>
        <p class="card-text"><%= tweet.conteudo %></p>
        <p class="card-text"><%= tweet.created_at.strftime("%d/%m/%Y - %R") %></p>
        
    <% end %>
    <% end %>   
 
    </ul>
    </div>
    </div>
</div>      
</div>    
   
   

    

     





